params {
        // Mandatory arguments
        input = null // No default input
         
        // Genome and references options
        genome = 'GRCh38'
        igenomes_base = '/hpcshare/genomics/references/gatk_bundle/'
        
        //Main options
        publish_dir_mode = 'copy'
        email = 'youssef.abili@iit.it'
        email_on_fail = 'youssef.abili@iit.it'
        cpus = 8
        max_cpus = 32
        max_memory = 80.GB
        max_time = 100.h
        single_cpu_mem = 25.GB

        params.reference="/home/yabili/storage/references/gatk_bundle/reference/resources_broad_hg38_v0_Homo_sapiens_assembly38.fasta"
        //params.strelka_snv="/home/yabili/yussab/mergeVCF_MutectStrelka/test/HKNPC-076T_vs_HKNPC-076N/Strelka/StrelkaBP_HKNPC-076T_vs_HKNPC-076N_somatic_snvs.vcf.gz"
        //params.strelka_indels="/home/yabili/yussab/mergeVCF_MutectStrelka/test/HKNPC-076T_vs_HKNPC-076N/Strelka/StrelkaBP_HKNPC-076T_vs_HKNPC-076N_somatic_indels.vcf.gz"
        //params.mutect="/home/yabili/yussab/mergeVCF_MutectStrelka/test/HKNPC-076T_vs_HKNPC-076N/Mutect2/Mutect2_filtered_HKNPC-076T_vs_HKNPC-076N.vcf.gz"
        params.outdir="results"
        //params.tumor_id="HKNPC-076T"
        //params.normal_id="HKNPC-076N"
        //params.set_name="HKNPC-076"
}



// Container slug


// Profiles

profiles {
    
     standard {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
    }
    
     vda {
        process.executor = 'pbspro'
        process.queue = 'cpunodes'
        process.cpus = 24
        process.memory  = 20.GB
    }

      singularity {
       docker.enabled = false
       singularity.autoMounts = true
       singularity.enabled = true
    }
     
      docker  {
         docker.enabled = true
         singularity.autoMounts = true
         singularity.enabled = false
    }

}




/*
process {
    withName:illuminaMerge_snvIndels {
        container = '/hpcshare/genomics/sra_cancer/MergeVCF_MutectStrelka/conda2singularity/nextflow.sif'
    containerOptions = '-B /hpcshare/'
    
    }
    withName:mutect_preprocess {
        container = '/hpcshare/genomics/sra_cancer/MergeVCF_MutectStrelka/conda2singularity/nextflow.sif'
        containerOptions = '-B /hpcshare/'
    }
       withName:combineVCF {
        container='/hpcshare/genomics/sra_cancer/MergeVCF_MutectStrelka/conda2singularity/bioinfo.sif'
        containerOptions='-B /hpcshare/'
    }
    withName:dataNormalization {
        container='/hpcshare/genomics/sra_cancer/MergeVCF_MutectStrelka/conda2singularity/bioinfo.sif'
        containerOptions='-B /hpcshare/'
    }
}
*/
